---
title: Index page
footerSpecBg: false
slider: [
{
	bgClass: 'pslide__bg--blue-l',
	title: 'Быстрый старт',
	btc: '0,01 втс',
	perc: '10%'
},
{
	bgClass: 'pslide__bg--blue-m',
	title: 'Оптимальный',
	btc: '0,05 втс',
	perc: '20%'
},
{
	bgClass: 'pslide__bg--blue',
	title: 'премиальный',
	btc: '0,1 втс',
	perc: '30%'
},
{
	bgClass: 'pslide__bg--blue-m',
	title: 'Быстрый старт',
	btc: '0,1 втс',
	perc: '30%'
},
{
	bgClass: 'pslide__bg--blue',
	title: 'премиальный',
	btc: '0,1 втс',
	perc: '30%'
}
]
---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header.html" %}
<!--begin content-block-->
<div class="content-block">
	{% include "partials/_hero.html" %}
	<!--begin about-->
	<div class="about ">
		<div class="about__bg" style="background-image: url('img/about-bg.jpg');"></div>
		
		<!--begin l-->
		<div class="l js-about-l">
			<img class="about__hand js-about-hand" src="img/hand.png" alt="">
			<!--begin about__top-anim-->
			<div class="about__top-anim  js-about-wrapper">
				<h2 class="title-line about__title js-about-title">
					Коротко <strong>о роботе</strong><i></i>
				</h2>
				<div class="styled-text about__text js-about-text">
					<p>
						Как только Bitcoin начал свое развитие, появились тысячи людей, готовых вложить деньги в перспективный проект и появление специализированных криптовалютных бирж стало неизбежным. Однако, для формирования полноценного рынка потребовалось несколько лет. И даже сейчас нельзя не отметить, что существует всего несколько бирж с профессиональным подходом, которым можно доверить свои деньги. Развитие продолжается, и вероятно нас еще ждут большие перемены.
					</p>
				</div>
			</div>
			<!--end about__top-anim-->
			<!--begin about__steps-->
			<div class="asteps js-steps">
				{% include "partials/_step-line.html" %}
				<i class="asteps__line asteps__line--1 js-step-line-1"><!-- {{mixins.icon('about-step1')}} --></i>
				<i class="asteps__line asteps__line--2 js-step-line-2">{{mixins.icon('about-step2')}}</i>
				<i class="asteps__line asteps__line--3 js-step-line-3">{{mixins.icon('about-step3')}}</i>
				<i class="asteps__line asteps__line--4 js-step-line-4"><!-- {{mixins.icon('about-step4')}} --></i>
				<i class="asteps__line asteps__line--5 js-step-line-5">{{mixins.icon('about-step5')}}</i>
				<i class="asteps__line asteps__line--6 js-step-line-6">{{mixins.icon('about-step6')}}</i>
				<i class="asteps__line asteps__line--7 js-step-line-7"><!-- {{mixins.icon('about-step7')}} --></i>
				<div class="asteps__item asteps__item--money js-step-money ">
					<div class="asteps__img">{{mixins.icon('money')}}</div>
					<p>Инвестируете  капитал <br> в нашу компанию</p>
					<i class="asteps__mob-arrow">{{mixins.icon('arrow-d')}}</i>
				</div>
				<div class="asteps__item asteps__item--graph js-step-graph">
					<div class="asteps__img">{{mixins.icon('graph')}}</div>
					<p>Через месяц выходите <br> в безубыток</p>
					<i class="asteps__mob-arrow">{{mixins.icon('arrow-d')}}</i>
				</div>
				<br>
				<div class="asteps__item asteps__item--coin js-step-coin">
					<div class="asteps__img">{{mixins.icon('coin')}}</div>
					<p>Получаете 100% <br> прибыли</p>
					<i class="asteps__mob-arrow">{{mixins.icon('arrow-d')}}</i>
				</div>
				<div class="asteps__item asteps__item--travel js-step-travel">
					<div class="asteps__img">{{mixins.icon('travel')}}</div>
					<p>Покупаете автомобиль <br> или уезжаете в путешествие</p>
				</div>
			</div>
			<!--end about__steps-->
		</div>
		<!--end l-->
	</div>
	<!--end about-->
	<!--begin why-we-->
	<div class="why-we js-why-we">
		<div class="why-we__bg" style="background-image: url('img/why-we-bg.png');"></div>
		<!--begin l-->
		<div class="l">
			<!--begin"why-we__inner-->
			<div class="why-we__inner">
				<!--begin why-we__left-->
				<div class="why-we__left js-why-we-left">
					<h2 class="title-line title-line--white why-we__title"><strong>Почему</strong> именно мы<i></i></h2>
					<ul class="checklist why-we__list">
						<li><strong>Ну и тут последний пункт</strong>, тоже с жирным выделением текста. Либо же можно сделать чтобы все пункты начинались со слов мы выполняем, мы гарантируем, мы помогаем, ну словом что мы делаем. и их выделить жирным.</li>
						<li>Ну и тут последний пункт, тоже с жирным выделением текста. Либо же можно сделать чтобы все пункты начинались со слов мы выполняем, мы гарантируем, мы помогаем, ну словом что мы делаем. и их выделить жирным.</li>
						<li>Ну и тут последний пункт, тоже с жирным выделением текста. Либо же можно сделать чтобы все пункты начинались со слов мы выполняем, мы гарантируем, мы помогаем, ну словом что мы делаем. и их выделить жирным.</li>
						<li>Ну и тут последний пункт, тоже с жирным выделением текста. Либо же можно сделать чтобы все пункты начинались со слов мы выполняем, мы гарантируем, мы помогаем, ну словом что мы делаем. и их выделить жирным.</li>
					</ul>
				</div>
				<!--end why-we__left-->
				<!--begin why-we__right-->
				<div class="why-we__right js-why-we-right">
					<div class="counter">
						<p class="counter__text">С нами заработано</p>
						<!--begin counter__inner-->
						<div class="counter__inner">
							<span>1</span>
							<span>1</span>
							<span class="counter__number-big-mr">2</span>
							<span>4</span>
							<span>4</span>
							<span class="counter__number-big-mr">0</span>
							<i>$</i>
						</div>
						<!--end counter__inner-->
					</div>
					<img src="img/bitcoins.png" alt="alt">
				</div>
				<!--end why-we__right-->
			</div>
			<!--end"why-we__inner-->
		</div>
		<!--end l-->
	</div>
	<!--end why-we-->
	<!--begin plans-->
	<div class="plans">
		<div class="plans__bg" style="background-image: url('img/plans-bg.jpg');"></div>
		<!--begin l-->
		<div class="l">
			<!--begin plans__inner-->
			<h2 class="title-line plans__title"><strong>Условия работы</strong><i></i></h2>
			<div class="plans__inner">
				<!--begin plans-slider-->
				<div class="pslider js-pslider">
					{% for test in slider %}
					<!--begin pslide-->
					<div class="pslide">
						<div class="pslide__bg {{test.bgClass}}"></div>
						<!--begin pslide__inner-->
						<div class="pslide__inner">
							<p class="pslide__title">{{test.title}}</p>
							<p class="pslide__btc">{{test.btc}}</p>
							<p class="pslide__perc">{{test.perc}}</p>
							<div class="pslide__line">
								<div class="pslide__left">Прибыль в день</div>
								<div class="pslide__right">0,33 %</div>
							</div>
							<div class="pslide__line">
								<div class="pslide__left">Прибыль в месяц</div>
								<div class="pslide__right">0,10 %</div>
							</div>
							<div class="pslide__line">
								<div class="pslide__left">Срок работы депозита</div>
								<div class="pslide__right">3 мес</div>
							</div>
							<div class="pslide__line">
								<div class="pslide__left">Начисление выплат</div>
								<div class="pslide__right">ежедневно</div>
							</div>
							<a class="btn btn--border pslide__btn" href="#">Заказать</a>
						</div>
						<!--end pslide__inner-->
					</div>
					<!--end pslide-->
					{% endfor %}
				</div>
				<!--end plans-slider-->
			</div>
			<!--end plans__inner-->
		</div>
		<!--end l-->
	</div>
	<!--end plans-->
	<!--begin prefooter-->
	<div class="prefooter">
		<!--begin l-->
		<div class="l">
			<h2 class="title-line prefooter__title"><strong>Остались вопросы</strong> или хотите обсудить сотрудничество<i></i></h2>
			<div class="prefooter__text">
				По любым вопросам Вы можете написать нам на почту  <a href="mailto:postadress@gmail.com">postadress@gmail.com</a> <br>или заполнить форму ниже
			</div>

		</div>
		<!--end l-->
		<!--begin l l--sm-->
		<div class="l l--sm">
			<!--begin form-->
			<div class="form">
				<form action="">
					<!--begin form__two-col-->
					<div class="form__two-col">
						<!--begin form__left-->
						<div class="form__left">
							<div class="form__field">
								<input type="text" placeholder="Ваше имя">
							</div>
							<div class="form__field">
								<input type="text" placeholder="Ваш Email">
							</div>
						</div>
						<!--end form__left-->
						<!--begin form__right-->
						<div class="form__right">
							<div class="form__field">
								<textarea placeholder="Ваше сообщение"></textarea>
							</div>
						</div>
						<!--end form__right-->
					</div>
					<!--end form__two-col-->
					<div class="form__btn-line">
						<button class="btn btn--red" type="submit">Отправить</button>
					</div>
				</form>
			</div>
			<!--end form-->
		</div>
		<!--end l l--sm-->
		
	</div>
	<!--end prefooter-->
</div>
<!--end content-block-->
{% include "partials/_footer.html" %}
{% endblock %}
