---
title: text page
footerSpecBg: true

---
{% extends "layouts/_layout.html" %}

{% block content %}
{% include "partials/_header.html" %}
<!--begin content-block-->
<div class="content-block">
	{% include "partials/_hero-sm.html" %}
	<!--begin l-->
	<div class="l">
		<!--begin article-->
		<div class="article">
			<h1 class="title-line">
				Заголовок <strong>текста </strong> <i></i>
			</h1>
			<!--begin two-col-->
			<div class="two-col">
				<!--begin two-col__left-->
				<div class="two-col__left">
					<p>
						Как только Bitcoin начал свое развитие, появились тысячи людей, готовых вложить деньги в перспективный проект и появление специализированных криптовалютных бирж стало неизбежным. Однако, для формирования полноценного рынка потребовалось несколько лет. И даже сейчас нельзя не отметить, что существует всего несколько бирж с профессиональным подходом, которым можно доверить свои деньги. Развитие продолжается, и вероятно нас еще ждут большие перемены.
					</p>
					<p>
						Как только Bitcoin начал свое развитие, появились тысячи людей, готовых вложить деньги в перспективный проект и появление специализированных криптовалютных бирж стало неизбежным. Однако, для формирования полноценного рынка потребовалось несколько лет. И даже сейчас нельзя
					</p>
				</div>
				<!--end two-col__left-->
				<!--begin two-col__right-->
				<div class="two-col__right">
					<img src="img/text-img.jpg" alt="alt">
				</div>
				<!--end two-col__right-->
			</div>
			<!--end two-col-->
			<div>
				<h2>Заголовок Н2</h2>
				<p>
					Технология криптовалют исходит из того, что в сети нет доверенного узла — того, чьи действия гарантированно истинны и кто может подтвердить корректность чужих операций. 
				</p>
				<p>
					Для принятия решения о достоверности транзакций в условиях неверия любому сообщению в сети (задача византийских генералов) используется технология блокчейн, впервые появившаяся в системе «Биткойн».
				</p>
				<p>
					Для хранения данных транзакции объединяются в блоки, из которых формируется непрерывная цепочка
				</p>
				<blockquote>
					Технология криптовалют исходит из того, что в сети нет доверенного узла — того, чьи действия гарантированно истинны и кто может подтвердить корректность чужих операций. 
				</blockquote>

				<p>
					Технология криптовалют исходит из того, что в сети нет доверенного узла — того, чьи действия гарантированно истинны и кто может подтвердить корректность чужих операций. 
				</p>
				<p>
					Для принятия решения о достоверности транзакций в условиях неверия любому сообщению в сети (задача византийских генералов) используется технология блокчейн, впервые появившаяся в системе «Биткойн».
				</p>
				<p>
					Для принятия решения о достоверности транзакций в условиях неверия любому сообщению в сети (задача византийских генералов) используется технология блокчейн, впервые появившаяся в системе «Биткойн».
				</p>
			</div>
			<div>
				<h3>
					Заголовок Н3
				</h3>
				<p>
					Технология криптовалют исходит из того, что в сети нет доверенного узла — того, чьи действия гарантированно истинны и кто может подтвердить корректность чужих операций. 
				</p>
				<p>
					Для принятия решения о достоверности транзакций в условиях неверия любому сообщению в сети (задача византийских генералов) используется технология блокчейн, впервые появившаяся в системе «Биткойн».
				</p>
				<p>
					Для принятия решения о достоверности транзакций в условиях неверия любому сообщению в сети (задача византийских генералов) используется технология блокчейн, впервые появившаяся в системе «Биткойн».
				</p>
			</div>
			<div>
				<h3>
					Маркированный список
				</h3>
				<ul>
					<li>Технология криптовалют исходит из того</li>
					<li>Технология криптовалют исходит из того</li>
					<li>Технология криптовалют исходит из того</li>
				</ul>

			</div>
			<div>
				<h3>
					Нумерованный список
				</h3>
				<ol>
					<li><span>1</span>Технология криптовалют исходит из того</li>
					<li><span>2</span>Технология криптовалют исходит из того</li>
					<li><span>3</span>Технология криптовалют исходит из того</li>
				</ol>
			</div>
		</div>
		<!--end article-->
	</div>
	<!--end l-->



</div>
<!--end content-block-->
{% include "partials/_footer.html" %}

{% endblock %}
