<!--begin table-->
<table class="table">
	<tr>
		<td style="width: 82px">Дата</td>
		<td style="width: 484px">Название</td>
		<td style="width: 192px">Осталось дней</td>
		<td style="width: 178px">Тело</td>
	</tr>
	<tr >
		<td>1</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
	</tr>
	<tr >
		<td>1</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
	</tr>
	<tr >
		<td>1</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
	</td>
	<tr >
		<td>1</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
	</tr>
	<tr >
		<td>1</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
	</tr>
</table>
<!--end table-->
