<!--begin table-->
<table class="table ">
	<tr>
		<td style="width: 49px">№</td>
		<td style="width: 204px">Название</td>
		<td style="width: 132px">Осталось дней</td>
		<td style="width: 132	px">Тело</td>
		<td style="width: 133px"> Начислено всего</td>
		<td style="width: 132px">Доступно к выводу</td>
		<td style="width: 142px">Вывести средства</td>
	</tr>
	<tr >
		<td>1</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum. Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td><a href="#">Вывести</a></td>
	</tr>
	<tr >
		<td>1</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td><a href="#">Вывести</a></td>
	</tr>
	<tr >
		<td>1</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td><a href="#">Вывести</a></td>
	</td>
	<tr >
		<td>1</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td><a href="#">Вывести</a></td>
	</tr>
	<tr >
		<td>1</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td>Lorem ipsum.</td>
		<td><a href="#">Вывести</a></td>
	</tr>
</table>
<!--end table-->
