<div class="footer" {% if footerSpecBg == false %} style="background-image: url('img/footer-bg.jpg');" {% endif %}>
	{% if footerSpecBg == true %} 
	<div class="footer__bg" style="background-image: url('img/footer-bg-spec.jpg');"></div>
	{% endif %}
	<!--begin l-->
	<div class="l">
		<!--begin footer__inner-->
		<div class="footer__inner">
			<!--begin footer__left-->
			<div class="footer__left">
				<a class="footer__logo" href="#">
					<img src="img/footer-logo.png" alt="logo">
				</a>
				<a href="#" class="footer__copy link">© CashBot 2017</a>
			</div>
			<!--end footer__left-->
			<!--begin footer__right-->
			<div class="footer__right">
				<!--begin footer__top-line-->
				<div class="footer__top-line">
					<ul class="footer__nav">
						<li class="is-active"><a href="#">Главная</a></li>
						<li><a href="#">О роботе</a></li>
						<li><a href="#">Партнерам</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
					<a class="footer__email " href="mailto:postadress@com">postadress @ com</a>
				</div>
				<!--end footer__top-line-->
				<!--begin footer__text-->
				<div class="footer__text">
					<h6 class="footer__title">
						Пользовательское соглашение
					</h6>
					<p>
						Как только Bitcoin начал свое развитие, появились тысячи людей, готовых вложить деньги в перспективный проект и появление специализированных криптовалютных бирж стало неизбежным. Однако, для формирования полноценного рынка потребовалось несколько лет. И даже сейчас нельзя
					</p>
					<a class="footer__more link" href="#">Читать...</a>
				</div>
				<!--end footer__text-->

			</div>
			<!--end footer__right-->

		</div>
		<!--end footer__inner-->
		
	</div>
	<!--end l-->
</div>