<header class="header">
	<!--begin l-->
	<div class="l">
		<!--begin header__inner-->
		<div class="header__inner">
			<!--begin header__left-->
			<div class="header__left">
				<span>Bitcoin</span>
				<i>{{mixins.icon('btc')}}</i>
				<span>- $ 16 580</span>
			</div>
			<!--end header__left-->
			<!--begin header__center-->
			<div class="header__center">
				<ul class="nav">
					<li class="is-active"><a href="#">Главная</a></li>
					<li><a href="#">О роботе</a></li>
					<li><a href="#">Партнерам</a></li>
					<li><a href="#">FAQ</a></li>
				</ul>
			</div>
			<!--end header__center-->
			<!--begin header__right-->
			<div class="header__right">
				<div class="header__user">
					<a href="#">Вход</a>
					<span>/</span>
					<a href="#">Регистрация</a>
				</div>
			</div>
			<!--end header__right-->



		</div>
		<!--end header__inner-->

	</div>
	<!--end l-->
	
</header>