<!--begin hero hero--sm-->
<div class="hero hero--sm">
	<div class="hero__bg" style="background-image: url('img/hero-sm-bg.jpg');"></div>
	<!--begin l-->
	<div class="l">
		<!--begin hero__inner-->
		<div class="hero__inner">
			<!--begin hero__logo-block-->
			<div class="hero__logo-block">
				<img class="hero__logo" src="img/logo.png" alt="alt">
				<img class="hero__light" src="img/light.png" alt="alt">
			</div>
			<!--end hero__logo-block-->
		</div>
		<!--end hero__inner-->
	</div>
	<!--end l-->
</div>
<!--end hero hero--sm-->
