<!--begin hero-->
<div class="hero">
	<div class="hero__bg" style="background-image: url('img/hero3.jpg');"></div>
	<div class="hero__bg-spec" style="background-image: url('img/hero-spec.png');"></div>
	<!--begin l-->
	<div class="l">
		<!--begin hero__inner-->
		<div class="hero__inner">
			<!--begin hero__logo-block-->
			<div class="hero__logo-block">
				<img class="hero__logo " src="img/logo-big.png" alt="alt">
				<img class="hero__light hero__light--main" src="img/light2.png" alt="alt">
			</div>
			<!--end hero__logo-block-->
			<!--begin hero-slider-->
			<div class="hero-slider  ">
				<img class="hero-slider__blick js-hero-blick" src="img/blick.png" alt="alt">
				<div class="hero-slider__anim-line hero-slider__tl js-hero-line-tl"></div>
				<div class="hero-slider__anim-line hero-slider__tr js-hero-line-tr"></div>
				<div class="hero-slider__anim-line hero-slider__r js-hero-line-r"></div>
				<div class="hero-slider__anim-line hero-slider__b js-hero-line-b"></div>
				<div class="hero-slider__anim-line hero-slider__l js-hero-line-l"></div>
				<!--begin hero-slider__inner-->
				<div class="hero-slider__inner js-hero-slider">
					<div class="hero-slider__slide js-hero-slide is-active">
						<p class="hero-slider__title">С нами можно и нужно зарабатывать</p>
						<p class="hero-slider__text">Это возможность решить свои финансовые вопросы и стать богатым</p>
					</div>
					<div class="hero-slider__slide js-hero-slide ">
						<p class="hero-slider__title">С нами можно и нужно зарабатывать2</p>
						<p class="hero-slider__text">Это возможность решить свои финансовые вопросы и стать богатым</p>
					</div>
					<div class="hero-slider__slide js-hero-slide ">
						<p class="hero-slider__title">С нами можно и нужно зарабатывать3</p>
						<p class="hero-slider__text">Это возможность решить свои финансовые вопросы и стать богатым</p>
					</div>
				</div>
				<!--end hero-slider__inner-->
			</div>
			<!--end hero-slider-->
			<!--begin adventages-->
			<div class="adventages">
				<!--begin adventages__item-->
				<div class="adventages__item adventages__item--left">
					<div class="adventages__img">
						<img src="img/adv1.png" alt="alt">
					</div>
					<p class="adventages__text">
						Прибыль <br> 10 - 50% в месяц
					</p>
				</div>
				<!--end adventages__item-->
				<!--begin adventages__item-->
				<div class="adventages__item">
					<div class="adventages__img">
						<img src="img/adv2.png" alt="alt">
					</div>
					<p class="adventages__text">
						100% возврат тела в течении месяца
					</p>
				</div>
				<!--end adventages__item-->
				<!--begin adventages__item-->
				<div class="adventages__item adventages__item--right">
					<div class="adventages__img">
						<img src="img/adv3.png" alt="alt">
					</div>
					<p class="adventages__text">
						Начисления <br> каждый день
					</p>
				</div>
				<!--end adventages__item-->

			</div>
			<!--end adventages-->

		</div>
		<!--end hero__inner-->
	</div>
	<!--end l-->
</div>
<!--end hero-->
