.table-wrapper
	// width: 946px
	overflow-x: auto
	&--mb
		margin-bottom: 70px
		+m
			margin-bottom: 25px
	+m
		
.table
	border-collapse: collapse
	width: 946px
	tr
		border-bottom: 10px solid $white
		&:first-of-type
			border-bottom: none
			td
				color: $blue3
				background: $bg-blue6
	td
		text-align: center
		background-color: #f0f4f7
		padding: 6px 8px
		border: 4px solid $white

	a
		color: $blue7
		+play
		font-size: 20px
		text-decoration: underline
		+xs
			font-size: 14px
