@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.eot');
  src: url('fonts/iconfont.eot?#iefix') format('eot'),
    url('fonts/iconfont.woff2') format('woff2'),
    url('fonts/iconfont.woff') format('woff'),
    url('fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-about-step2: "\EA01";
$icon-about-step3: "\EA02";
$icon-about-step5: "\EA03";
$icon-about-step6: "\EA04";
$icon-arrow-d: "\EA05";
$icon-arrow-l: "\EA06";
$icon-arrow-r: "\EA07";
$icon-btc: "\EA08";
$icon-coin: "\EA09";
$icon-facebook: "\EA0A";
$icon-graph: "\EA0B";
$icon-money: "\EA0C";
$icon-travel: "\EA0D";
$icon-wallet: "\EA0E";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-about-step2:before { content: $icon-about-step2; }
.icon-about-step3:before { content: $icon-about-step3; }
.icon-about-step5:before { content: $icon-about-step5; }
.icon-about-step6:before { content: $icon-about-step6; }
.icon-arrow-d:before { content: $icon-arrow-d; }
.icon-arrow-l:before { content: $icon-arrow-l; }
.icon-arrow-r:before { content: $icon-arrow-r; }
.icon-btc:before { content: $icon-btc; }
.icon-coin:before { content: $icon-coin; }
.icon-facebook:before { content: $icon-facebook; }
.icon-graph:before { content: $icon-graph; }
.icon-money:before { content: $icon-money; }
.icon-travel:before { content: $icon-travel; }
.icon-wallet:before { content: $icon-wallet; }
