.icon-about-step2 {
  width: 1.17em;
  height: 1em;
  fill: #222220;
}
.icon-about-step3 {
  width: 1.18em;
  height: 1em;
  fill: #222220;
}
.icon-about-step5 {
  width: 1.18em;
  height: 1em;
  fill: #222220;
}
.icon-about-step6 {
  width: 1.18em;
  height: 1em;
  fill: #222220;
}
.icon-arrow-l {
  width: 0.61em;
  height: 1em;
  fill: initial;
}
.icon-arrow-r {
  width: 0.61em;
  height: 1em;
  fill: initial;
}
.icon-btc {
  width: 0.75em;
  height: 1em;
  fill: initial;
}
.icon-coin {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-graph {
  width: 1.18em;
  height: 1em;
  fill: initial;
}
.icon-money {
  width: 1.01em;
  height: 1em;
  fill: initial;
}
.icon-travel {
  width: 1.22em;
  height: 1em;
  fill: initial;
}
.icon-wallet {
  width: 1.14em;
  height: 1em;
  fill: #1D1D1B;
}
